/* Main stylesheet for index of Tyler Sherman's Website */

body {
    margin: -25px 0 0;
}

/* ----------------------  TOP NAVIGATION BAR ---------------------------- */
.nav{
    list-style: none;
    text-align: center;
    background-color: rgb(73, 73, 73);
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}
.nav-list{
    margin: 0px;
    padding: 0px;
}
.nav-item{
    display: inline-block;
    overflow: hidden;
    border-bottom: solid white 3px;
    padding-bottom: 5px;
    margin: 10px 0px 7px;
    zoom: 1;
}
.nav-item a{
    display: block;
	  padding: 0px 35px;
    border-right: white solid 2px;
    color: white;
    opacity: 1.0;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}
.nav-item a:hover{
	  color: rgba(246, 189, 44, 1);
}
.nav-item a.last{
    border-right: none;
}
/* Mobile Navigation */
.nav-mobile{
	display: none; /* Hide from browsers that don't support media queries */
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 10px;
	background:#34495E url(../Images/nav.svg) no-repeat center center;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
li p{
	display: inline-block;
}

/* ----------------------  HEADER ---------------------------- */
#header{
    width: 100%;
    overflow: hidden;
}
#header .background{
    width: 100%;
    max-height: 100%;
}
#header_container{
    position: absolute;
    top: 0;
    width: 95%;
    left: 2.5%;
}
/* -- Header Button Text --*/
.header_text_low{
    transform: translateY(160px);
    opacity: 1.0;
}
#header_text{
    color: white;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
#header_text #text{
    padding: 30px 0 10px 0;
    text-align: center;
}
#header_text #text p{
    font-size: 24px;
    margin:5px;
    font-family: Helvetica, sans-serif;
}
#header_text #text h1 {
    font-size: 2.2em;
    margin: 0;
    font-family: 'Tillana', cursive;
    font-weight: 800;
}
/* -- Explore Button Setup --*/
#header_button_container{
    margin-top: 120px;
    text-align: center;
    padding: 25px;
}
.button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    width: 200px;
    color: white;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s;
    font-family: Helvetica, sans-serif;
}
.button:hover{
    background-color: rgba(246, 189, 44, 1);
    color: rgba(255, 255, 255, 1.0)
}


/* ----------------------  ABOUT SECTION ---------------------------- */
#about{
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    padding: 25px;
}

.header_divider{
    margin: 20px auto 20px auto; /*top right bottom left*/
    width: 85%;
}

#about_info{
    display: inline-block;
    margin: 0px, auto;
    width: 75%;
}
#about_info h3{
    margin: 0px auto;
    font-size: 3em;
    font-family: 'Tillana', cursive;
    color: rgb(61, 110, 168);
}

#about_left{
    float: left;
    width: 30%;
}
#about_left .headshot{
  width: 95%;
  vertical-align: middle;
}

#about_right{
    float: left;
    width: 70%
}
#about_right p{
    text-align: justify;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px 0px;
}


/* ----------------------  CONTACT SECTION ---------------------------- */
#contact{
    background-color: rgb(61, 110, 168);
    text-align: center;
    overflow: hidden;
    color: white
}

#contact_information{
    display: inline-block;
    margin-left: auto;
    width: 80%;
    padding: 30px 0px;
}
#contact_information h3{
    font-size: 3em;
    font-family: 'Tillana', cursive;
    color: rgba(255, 196, 46, 1);
    text-transform: uppercase;
    margin: 10px auto;
    padding-bottom: 15px;
}

#left_column{
    float: left;
    width: 22%;
}
#left_column p{
    text-align: left;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(192, 228, 99, 1);
    overflow: hidden;
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
}
#left_column .linkedIn{
    width: 100%;
    margin-top: 15px;
}

#center_column{
    float: left;
    width: 30%
}
#center_column p{
    text-align: left;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-bottom: solid 1px gray;
    overflow: hidden;
    padding-bottom: 15px;
}
#center_column a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-bottom: 15px;
}
#center_column .gitHub{
    float: right;
    margin-top: 15px;
    width: 73%;
}

#right_column{
    float: left;
    width: 48%
}
#right_column .map{
    float: right;
    width: 95%;
    height: 500px;
    border: none;
}


/* ----------------------  FOOTER SECTION ---------------------------- */
#footer{
    background-color: rgb(73, 73, 73);
    font-family: Helvetica, sans-serif;
    width: 100%;
    color: white;
    margin-top: -10px;
    text-align: center;
}

#footer #reach_out{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 75px;
}
#footer #reach_out h1{
    font-size: 1.5em;
    font-weight: 300;
    text-transform: capitalize;
}
#footer #reach_out a{
    display: inline-block;
    font-size: 18px;
}

.nav_bar .button{
    width: auto;
    margin: 0px 3.0%;
    font-size: 18px;
    vertical-align: top;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    opacity: 1.0;
    border: none;
}
#footer .nav_bar{
    position: relative;
    transform: none;
    height: auto;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}
#footer .nav_bar a{
    opacity: 1.0;
}
#footer .nav_bar a:hover{
    background-color: transparent;
    color: rgba(255, 196, 46, 1);
}


/* --------------------------------------------------------------------- *\
                            MEDIA QUERIES
\* --------------------------------------------------------------------- */
/* @media only screen and (min-width: 1024px) {
} This = default CSS
*/
/*TABLETS*/
@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .header_text_low{
      transform: translateY(80px);
  }
  #header_text{
      font-size: 1.0em;
  }
  #header_text #text p{
      font-size: 1.25em;
  }
  #header_text #text h1 {
      font-size: 3.0em;
  }
  /* -- Explore Button Setup --*/
  #header_button_container{
      margin-top: 60px;
  }
  /* -- About Section -- */
  .header_divider{
      margin: 10px auto 10px auto; /*top right bottom left*/
      width: 95%;
  }
  #about_info{
      margin: 0px, auto;
      width: 90%;
  }
  #about_info h3{
      font-size: 2.25em;
  }
  #about_left{
      width: 100%;
  }
  #about_left .headshot{
      width: 30%;
  }
  #about_right{
      width: 100%;
  }
  /* -- Contact Section -- */
  #contact_information{
      width: 70%;
      padding: 20px 0px;
  }
  #contact_information h3{
      font-size: 2.25em;
      padding-bottom: 0px;
  }
  #left_column{
      width: 40%;
      margin-left: 2.5%;
  }
  #left_column p{
      padding-bottom: 15px;
      padding-right: 5px;
  }
  #left_column .linkedIn{
      width: 30%;
      margin-top: 2px;
      float: left;
  }
  #center_column{
      width: 55%
  }
  #center_column p{
      padding-bottom: 15px;
  }
  #center_column a{
      padding-bottom: 15px;
  }
  #center_column .gitHub{
      margin-top: 2px;
      width: 22%;
  }
  #right_column{
      width: 100%
  }
  #right_column .map{
      width: 100%;
      margin-top: 15px;
      padding-bottom: 15px;
      height: 400px;
  }
  /* -- Footer Section -- */
  #footer #reach_out{
      font-size: 1em;
      padding-top: 20px;
  }
  #footer #reach_out h1{
      font-size: 2.25em;
  }
  #footer #reach_out a{
      display: inline-block;
      font-size: 1.5em;
  }
  #footer .nav_bar{
      width: 90%;
  }
  .nav_bar .button{
      width: auto;
      margin: 0px 3.0%;
      padding: 0px;
      font-size: 1.0em;
  }
}
/*SMARTPHONES*/
@media only screen and (min-width: 500px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .nav-mobile{
		display: block;
	}
	.nav{
		width: 100%;
		padding: 40px 0 0;
	}
	.nav-list {
		display: none;
    padding: 0px;
    margin: 0px;
	}
	.nav-item{
		width: 100%;
		float: none;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 2px white;
	}
	.nav-item a{
		background: #34495E;
		padding: 10px 0 5px;
    border-right: none;
	}
	.nav-item:last-child a{
    padding-bottom: 10px;
	}
  .nav-item:last-child{
    border-bottom: none;
  }
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
	}

  .header_text_low{
      transform: translateY(80px);
  }
  #header_text{
      font-size: 1.0em;
  }
  #header_text #text p{
      font-size: 1.25em;
  }
  #header_text #text h1 {
      font-size: 3.0em;
  }
  /* -- Explore Button Setup --*/
  #header_button_container{
      display: none;
  }
  /* -- About Section -- */
  .header_divider{
      margin: 10px auto 10px auto; /*top right bottom left*/
      width: 95%;
  }
  #about_info{
      margin: 0px, auto;
      width: 90%;
  }
  #about_info h3{
      font-size: 2.25em;
  }
  #about_left{
      width: 100%;
  }
  #about_left .headshot{
      width: 50%;
  }
  #about_right{
      width: 100%;
  }
  /* -- Contact Section -- */
  #contact_information{
      width: 80%;
      padding: 20px 0px;
  }
  #contact_information h3{
      font-size: 2.25em;
      padding-bottom: 0px;
  }
  #left_column{
      width: 42%;
      margin-left: auto;
  }
  #left_column p{
      padding-bottom: 15px;
      padding-right: 5px;
  }
  #left_column .linkedIn{
      width: 30%;
      margin-top: 2px;
      float: left;
  }
  #center_column{
      width: 58%
  }
  #center_column p{
      padding-bottom: 15px;
  }
  #center_column a{
      padding-bottom: 15px;
  }
  #center_column .gitHub{
      margin-top: 2px;
      width: 21.7%;
  }
  #right_column{
      width: 100%
  }
  #right_column .map{
      width: 100%;
      margin-top: 15px;
      padding-bottom: 15px;
      height: auto;
  }
  /* -- Footer Section -- */
  #footer #reach_out{
      font-size: 1em;
      padding-top: 20px;
  }
  #footer #reach_out h1{
      font-size: 2.25em;
  }
  #footer #reach_out a{
      display: inline-block;
      font-size: 1.5em;
  }
  #footer .nav_bar{
      width: 90%;
  }
  .nav_bar .button{
      width: auto;
      margin: 0px 3.0%;
      padding: 0px;
      font-size: 1.0em;
  }
}
