/* Main stylesheet for index of Tyler Sherman's Website */

body{
    margin: -25px 0 0;
}

/* ----------------------  HEADER ---------------------------- */
#header{
    width: 100%;
    overflow: hidden;
}
#header .background{
    width: 100%;
    max-height: 100%;
}
#header_container{
    position: absolute;
    top: 0;
    width:60%;
    left: 20%;
}
/* -- Header Button Text --*/
.header_text_low{
    transform: translateY(160px);
    opacity: 1.0;
}
#header_text{
    color: white;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
#header_text #text{
    padding: 30px 0 10px 0;
    text-align: center;
}
#header_text #text p{
    font-size: 24px;
    margin:5px;
    font-family: Helvetica, sans-serif;
}
#header_text #text h1 {
    font-size: 2.2em;
    margin: 0;
    font-family: 'Tillana', cursive;
    font-weight: 800;
}
/* -- Explore Button Setup --*/
.button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    width: 200px;
    color: white;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s;
    font-family: Helvetica, sans-serif;
}
.button:hover{
    background-color: rgba(246, 189, 44, 1);
    color: rgba(255, 255, 255, 1.0)
}
/* -- Navigation Bar Setup --*/
#header_button_container{
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}
#header_container .nav_bar{
    transform: translateY(75px);
    color: white;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    border-bottom: ridge 3px white;
}
.nav_bar .button{
    width: auto;
    margin: 0px 3.0%;
    font-size: 18px;
    vertical-align: top;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    opacity: 1.0;
    border: none;
}
.nav_bar .button:hover{
    background-color: transparent;
    color: rgba(246, 189, 44, 1);
}

/* ----------------------  ABOUT SECTION ---------------------------- */
#about{
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    padding: 25px;
}

.header_divider{
    margin: 20px auto 20px auto; /*top right bottom left*/
    width: 85%;
}

#about_info{
    display: inline-block;
    margin: 0px, auto;
    width: 75%;
}
#about_info h3{
    margin: 0px auto;
    font-size: 3em;
    font-family: 'Tillana', cursive;
    color: rgb(61, 110, 168);
}

#about_left{
    float: left;
    width: 30%;
}
#about_left .headshot{
  width: 95%;
  vertical-align: middle;
}

#about_right{
    float: left;
    width: 70%
}
#about_right p{
    text-align: justify;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px 0px;
}

/* ----------------------  CONTACT SECTION ---------------------------- */
#contact{
    background-color: rgb(61, 110, 168);
    text-align: center;
    overflow: hidden;
    color: white
}

#contact_information{
    display: inline-block;
    margin-left: auto;
    width: 80%;
    padding: 30px 0px;
}
#contact_information h3{
    font-size: 3em;
    font-family: 'Tillana', cursive;
    color: rgba(255, 196, 46, 1);
    text-transform: uppercase;
    margin: 10px auto;
    padding-bottom: 15px;
}

#left_column{
    float: left;
    width: 18%
}
#left_column p{
    text-align: left;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(192, 228, 99, 1);
    overflow: hidden;
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
}
#left_column .linkedIn{
    width: 100%;
    margin-top: 15px;
}

#center_column{
    float: left;
    width: 25%
}
#center_column p{
    text-align: left;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-bottom: solid 1px gray;
    overflow: hidden;
    padding-bottom: 15px;
}
#center_column a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-bottom: 15px;
}
#center_column .gitHub{
    float: right;
    margin-top: 15px;
    width: 72%;
}

#right_column{
    float: left;
    width: 57%
}
#right_column .map{
    float: right;
    width: 95%;
    height: 500px;
    border: solid 2px gray;
}

/* ----------------------  FOOTER SECTION ---------------------------- */
#footer{
    background-color: rgb(73, 73, 73);
    font-family: Helvetica, sans-serif;
    width: 100%;
    color: white;
    margin-top: -10px;
    text-align: center;
}

#footer #reach_out{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 75px;
}
#footer #reach_out h1{
    font-size: 1.5em;
    font-weight: 300;
    text-transform: capitalize;
}
#footer #reach_out a{
    display: inline-block;
    font-size: 18px;
}

#footer .nav_bar{
    position: relative;
    transform: none;
    height: auto;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}
#footer .nav_bar a{
    opacity: 1.0;
}
#footer .nav_bar a:hover{
    background-color: transparent;
    color: rgba(255, 196, 46, 1);
}
