/* Main stylesheet for index of Tyler Sherman's Website */

body{
    margin: -25px 0 0;
}

/* ----------------------  HEADER ---------------------------- */
#header .background{
    width: 100%;
	  max-height: 100%;
}
#header{
    overflow: hidden;
}
#header_container{
    position: absolute;
    top: 0;
    width:60%;
    left: 20%;
}
/* -- Header Button Text --*/
.header_text_low{
    transform: translateY(160px);
    opacity: 1.0;
}
#header_text{
    color: white;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
#header_text #text{
    padding: 30px 0 10px 0;
    text-align: center;
}
#header_text #text p{
    font-size: 24px;
    margin:5px;
    font-family: Helvetica, sans-serif;
}
#header_text #text h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
/* -- Explore Button Setup --*/
.button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    width: 200px;
    color: white;
    display: inline-block;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.5s;
    font-family: Helvetica, sans-serif;
}
.button:hover{
    background-color: rgba(246, 189, 44, 1);
    color: rgba(255, 255, 255, 1.0)
}
/* -- Navigation Bar Setup --*/
#header_button_container{
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}
.nav_bar{
    transform: translateY(75px);
    color: white;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.nav_bar .button{
    width: auto;
    margin: auto 2.0%;
    border: none;
    font-size: 18px;
    vertical-align: top;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    opacity: 0.7;
}
.nav_bar .button:hover{
    background-color: transparent;
    color: rgba(246, 189, 44, 1);
    opacity: 1.0;
}

/* ----------------------  ABOUT SECTION ---------------------------- */
#about{
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
}

.header_divider{
    margin: 15px auto 15px auto; /*top right bottom left*/
    width: 85%;
}

#about_text{
    display: inline-block;
    margin-left: auto;
    width: 75%;
}
#about_text h3{
    font-size: 3em;
    font-family: Helvetica, sans-serif;
    margin: 10px auto 10px;
}
#about_text p{
    text-align: justify;
    font-size: 1.15em;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    margin-right: 5px;
    overflow: hidden;
}
#about_text .headshot{
    float: left;
    width: 30%;
    height: 30%;
    margin-left: 20px;
    margin-right: 25px;
}

/* ----------------------  FOOTER SECTION ---------------------------- */
#footer{
    background-color: rgb(61, 110, 168);
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 50px;
    margin-bottom: 20;
    text-align: center;
}

#footer #reach_out{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
#footer #reach_out h1{
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
}
#footer #reach_out a{
    display: inline-block;
    margin: auto;
    font-size: 18px;
}

#footer .nav_bar{
    position: relative;
    transform: none;
    height: auto;
    width: 60%;
    display: inline-block;
}
#footer .nav_bar a{
    opacity: 0.7;
}
#footer .nav_bar a:hover{
    background-color: transparent;
    color: rgba(246, 189, 44, 1);
}
